<ion-view view-title="Bon Appetit !" class="backgroundappli">
	<ion-content>
		<div>
		</div>
		<div id="apport">
			<p>L'apport glucidique de ton repas est :<br> {{totGlucides.lents.toFixed(2);}} grammes de glucides lents, et {{totGlucides.rapides.toFixed(2);}}
				grammes de glucides rapides !</p>
		</div>
		<div id="imgBubble">
			<img ng-src="img/personnages/bubble.svg" id="bubble">
		</div>
		<div id="imgAppetit">
			<img ng-src="{{perso.photoLink}}" title="img2">
		</div>
	</ion-content>
	<ion-footer-bar class="bar-energized">
		<button class="button button-large button-energized" id="buttontaille" ui-sref="app.users" ng-click="nextState()">MERCI</button>
	</ion-footer-bar>
</ion-view>