<ion-view view-title="Historique" class="backgroundappli">
  <ion-content>
  	<div>
		<ion-item ng-repeat="plateau in data.plateaux" class="historiquerepeat"  ng-if="user.id == plateau.userId">
		    <div class="dateetresto">
			    <div class="nomresto" ng-if="plateau.restoId==='1'">McDo</div>
			    <div class="nomresto" ng-if="plateau.restoId==='2'">Quick</div>
			    <div class="datehistorique">{{plateau.date | date : 'dd/MM/yyyy HH:mm'}}</div>
		    </div>
		    <div class="tauxglucide text-center"><p class="glulent">lents {{plateau.glucideLent}}</p><p class="glurapide">rapides {{plateau.glucideRapide}}</p></div>
		</ion-item>
    </div>
  </ion-content>
</ion-view>
