<ion-view view-title="Eat it" class="backgroundappli">
	<ion-content>
		<h3 id="saisie">Saisis ton prénom !</h3>
		<form>
			<ion-item id="prenom_item">
				<input type="text" placeholder="Prénom" required ng-model="user.prenom" id="prenom">
			</ion-item>
			<div id="sexe">
				<input type="radio" id="radio1" value="Garçon" name="radio">
				<label for="1" id="label1">Garçon</label>
				<input type="radio" id="radio2" value="Fille" name="radio">
				<label for="2" id="label2">Fille</label>

			</div>
			<h3>De quelle quantité de glucides as-tu besoin ?</h3>
			<div class="list">
				<div id="PD">
					<h4>Petit Déjeuner</h4>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Glucide Lent</span>
						<input type="number" placeholder="En grammes !" ng-model="user.protocole.petitDejeuner.glucideLent" class="glu">
					  </label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Glucide Rapide</span>
						<input type="number" placeholder="En grammes !" ng-model="user.protocole.petitDejeuner.glucideRapide" class="glu">
					  </label>
				</div>

				<div id="Dej">
					<h4>Déjeuner</h4>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Glucide Lent</span>
						<input type="number" placeholder="En grammes !" ng-model="user.protocole.dejeuner.glucideLent" class="glu">
					  </label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Glucide Rapide</span>
						<input type="number" placeholder="En grammes !" ng-model="user.protocole.dejeuner.glucideRapide" class="glu">
					  </label>
				</div>

				<div id="Gou">
					<h4>Goûter</h4>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Glucide Lent</span>
						<input type="number" placeholder="En grammes !" ng-model="user.protocole.gouter.glucideLent" class="glu">
					  </label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Glucide Rapide</span>
						<input type="number" placeholder="En grammes !" ng-model="user.protocole.gouter.glucideRapide" class="glu">
					  </label>
				</div>

				<div id="Din">
					<h4>Dîner</h4>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Glucide Lent</span>
						<input type="number" placeholder="En grammes !" ng-model="user.protocole.diner.glucideLent" class="glu">
					  </label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Glucide Rapide</span>
						<input type="number" placeholder="En grammes !" ng-model="user.protocole.diner.glucideRapide" class="glu">
					  </label>
				</div>
			</div>
		</form>
	</ion-content>
	<ion-footer-bar class="bar-balanced" id="BARRE">
		<ion-button class="button button-balanced" ng-click="setUser({user:-1});" id="Valider">Valider</ion-button>
	</ion-footer-bar>
</ion-view>
