<ion-view view-title="Ton menu :" class="backgroundappli">
    <div class="has-header has-tabs-top tabs tabs-top tabs-icon-only">
        <a class="tab-item" ng-click="itemFilter(1); scrollTop()">
            <i class="icon ion-pizza"></i>
        </a>
        <a class="tab-item" ng-click="itemFilter(2); scrollTop()">
            <i class="icon ion-fork"></i>
        </a>
        <a class="tab-item" ng-click="itemFilter(3); scrollTop()">
            <i class="icon ion-beer "></i>
        </a>
    </div>
    <!--<progress value="70" max="100" class="verticalFloating">70 %</progress>-->
    <!--<div class="progress verticalFloating">
        <div class="progress-bar progress-bar-success" style="width: 35%">
            <span class="sr-only">35% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
            <span class="sr-only">20% Complete (warning)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 10%">
            <span class="sr-only">10% Complete (danger)</span>
        </div>
    </div>-->
    <ion-content>

        <div style="width:100%; height:50px"></div>

        <!--<div class="row">
            <div class="col-90">-->
        <div class="row" ng-repeat="(key,item) in items" ng-if="key % 2 === 0">


            <div class="col-50 text-center" ng-repeat="colNumber in [0,1]" ng-if="key + colNumber < items.length">
                <div>

                    <div>
                        <img ng-click="addInPlate(items[key + colNumber].id)" ng-src="{{items[key + colNumber].photoLink}}" width="70%">
                    </div>
                    <div>
                        <h4>{{items[key + colNumber].nom}}</h4>
                    </div>
                </div>
            </div>

        </div>
        <!--</div>
        <div class="col-10 text-center">
                <div class="progress vertical">
                    <div class="progress-bar progress-bar-success" ng-style="{width: 35%}">
                        <span class="sr-only">35% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                        <span class="sr-only">20% Complete (warning)</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                        <span class="sr-only">10% Complete (danger)</span>
                    </div>
                </div>
            </div>
        </div>-->


    </ion-content>
        <div class="indicateur" ng-if="nbProtocoles==1">protocole x1</div>
        <div class="indicateur" ng-if="nbProtocoles==2">protocole x2</div>
        <div class="indicateur" ng-if="nbProtocoles==3">protocole x3</div>
        <div class="indicateur" ng-if="nbProtocoles>3">Attention!</div>
        <div class="progress vertical3">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" ng-style="width.P3">
            <span class="sr-only">A</span>
        </div>
        <div class="progress-bar progress-bar-warning progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" ng-style="width.P2">
            <span class="sr-only">A</span>
        </div>
        <div class="progress-bar progress-bar-success progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" ng-style="width.P1">
            <span class="sr-only">A</span>
        </div>
    </div>
    <ion-footer-bar class="bar-stable bigbar">
        <!--<div class="row">

            <div class="col col-80" overflow="hidden" overflow-scroll="true">
                <ion-scroll direction="x">
                    <div style="display:inline-block" ng-repeat="item in data.plate track by $index" ng-click="data.plate.splice($index, 1); setWidth()">
                        <img height="60px" ng-src="{{item.photoLink}}">
                    </div>
                </ion-scroll>
            </div>
            <div class="col col-20">
                <div class="buttons pull-right" ng-click="nextState()">
                    <button class="button button-energized button-large" id="atable">A table!</button>
                </div>
            </div>
        </div>-->
        <ion-scroll zooming="true" direction="x" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
            <div style="display:inline-block" ng-repeat="item in data.plate track by $index" ng-click="data.plate.splice($index, 1); setWidth()">
                <img class="animated bounceIn" height="50px" ng-src="{{item.photoLink}}">
            </div>
        </ion-scroll>
        <div class="buttons pull-right" ng-click="nextState()">
            <button class="button button-energized button-large" id="atable">A table!</button>
        </div>
    </ion-footer-bar>

</ion-view>
