<ion-view id="background" view-title="Eat IT">
	<ion-content>
		<img class="animated infinite tada" src="..\img\logo.png" alt="error" id="bienvenue" />
		<!--300 vh les deux -->
	</ion-content>
	<ion-footer-bar class="bar-energized">
		<button class="button button-large button-energized" id="buttontaille" ui-sref="app.infos({user:'new'})"> COMMENCER</button>
	</ion-footer-bar>
</ion-view>
