<ion-view view-title="Repas" class="backgroundappli">
  <ion-content id="blocrepas">
    <!--class="repas"-->
    <h1 id="titrerepas">Quel est ton repas?</h1>
    <div id="testrepas">
    <div id="divbenjisue">
      <img src="{{perso.photoLink}}" title="imgperso" >
    </div>
    <!--<ion-form class="padding center-me">-->
    <div id="blocbouttonrepas">
    <ion-form>
    <button class="button button-block button-stable" type="submit" ng-repeat="(key,protocole) in protocole" ui-sref="app.restaurants({repasId : key})"
      ng-if="protocole.glucideLent !== '' && protocole.glucideRapide !== '' && protocole.glucideLent !== null && protocole.glucideRapide !== null" id="buttonrepas">{{key}}</button>
    </ion-form>
    </div>
    </div>
  </ion-content>
</ion-view>
