<ion-view view-title="Restaurants" class="backgroundappli">
	<ion-content class="padding">
		<div class="padding">
			<div ng-repeat="resto in restos" id="restos">
				<img ng-src="{{resto.logoLink}}" alt="error" id="logo"  ui-sref="app.itemList({restoId:resto.id, repasId: repasId})"
				/>
			</div>
		</div>
	</ion-content>
</ion-view>