<ion-view view-title="EatIt" class="backgroundappli">
  <ion-content>
    <div ng-if="users.length > 0">
      <div class="row row-calm usersbutton" ng-repeat="user in users">
        <div class="col-80 button-full username" ng-click="setUser(user)">{{user.prenom}}</div>
        <div class="col-10 text-center">
          <ion-icon class="ion-gear-a boutoninfos" ui-sref="app.infos({user:user.id})"></ion-icon>
        </div>
        <div class="col-10 text-center">
          <ion-icon class="ion-clipboard boutonhistoric" ng-click="showHistory(user)"></ion-icon>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-energized">
    <button class="button button-large button-energized" id="newusers" ui-sref="app.infos({user:'new'})">Je suis nouveau !</button>
  </ion-footer-bar>
</ion-view>
