/*To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8  !default;
$positive:                        #387ef5  !default;
$calm:                            #11c1f3  !default;
$balanced:                        #33cd5f  !default;
$energized:                       #ffc900  !default;
$assertive:                       #ef473a  !default;
$royal:                           #886aea  !default;
$dark:                            #444 !default;
*/

@font-face {
  font-family: "Packaging Funny";
  src: url("../lib/ionic/fonts/Packaging Funny.ttf") format("truetype"), url("../lib/ionic/fonts/Packaging Funny.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HeroesLegend';
  src: url('../lib/ionic/fonts/HeroesLegend.woff') format('woff'),
       url('../lib/ionic/fonts/HeroesLegend.ttf') format('truetype'),
       url('../lib/ionic/fonts/HeroesLegend.svg#HeroesLegend') format('svg');
  font-weight: normal;
  font-style: normal;
}



$stable:                          #304a59 !default;
$energized:                       #f9bd05 !default;
$light:                           #fff !default;
$bar-stable-text:                 #FFFFFF !default;
$calm:                    #dce0e3 !default;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;


// Include all of Ionic


@import "www/lib/ionic/scss/ionic";

