/* Empty. Add your own CSS if you like */
h1,h2,h3, h4, button, ion-button, .title{
	font-family: 'HeroesLegend' !important;
}

h3 {
  font-size: 15px !important;
	margin-top: 5px !important;
	text-align: center;
}

#saisie {
	padding-top: 1%;
}

h4{
	font-size: 10px !important;
	text-align: left;
	padding-left: 22% !important;
	color: #f9bd05 !important;
}

#back-text{
	padding-right: 10% !important;
}


.item{
	border-bottom: 2px !important;
	border-top : none !important;
	border-right: none !important;
	border-left: none !important;
	text-align: left;
	left: 15%;
	width: 70%;
}
.input-label {
	font-family: 'HeroesLegend';
	font-size: 8px !important;
}

#label1, #label2 {
	font-family: 'HeroesLegend';
	font-size: 8px;
	margin-right: 15px;
}

#radio1, #radio2 {
	margin-right: 1%;
}

#sexe{
	display: inline-flex;
	width: 40%;
}


#PD, #Dej, #Gou, #Din {
	margin-top: 5px;
}

#Valider {
	width: 100%;
	height: 100%;
}

.glu {
	text-align: left!important;
}

#prenom {
	display: inline-flex !important;
	border-bottom: 2px black solid !important;
	width: 70%;
}

#prenom_item{
	display: inline-flex;
	width: 40%;
	margin-right: 15%;
}

.title {
	text-align: center !important;
	left: 0 !important ;
	right: 0 !important;
}

#PD {
	display: inline-flex !important;
	flex-direction: column;
	width: 49%;
}

#Dej {
	display: inline-flex !important;
	flex-direction: column;
	width: 49%;
}

#Gou {
	display: inline-flex !important;
	flex-direction: column;
	width: 49%;
}

#Din {
	display: inline-flex !important;
	flex-direction: column;
	width: 49%;
}

h1
{
	text-align: center;
}

.bigbar{
height: 60px !important;
}
.repas{
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
}


#myProgress {
  width: 100%;
  background-color: #f2f2f2;
}
#myBar {
	width: 100;
	margin-top: 50px;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

}

#bienvenue{
  margin-top: 20%;
  width: 101%;
}
#background{
  background-color: #304a59;
}
.backgroundappli{
  background-image:url(../img/background.png);
}


.icon{
	color: white;
}
#buttontaille{
  width: 100%;
}

#BARRE {
	background-image: none !important;
	display: inline-flex !important;
	bottom: 0;
}

#atable{height: 100%;}

#buttonrepas{width:100%;color: white;font-size: 0.8em;}
#blocbouttonrepas{display: inline-flex;
	width: 50%;
  flex-direction: column;
  position: relative;
  margin-top: 20%;
  margin-right: 5%;
  }
#blocrepas{
  padding-top: 20%;
}
#buttonrepas:nth-child(2n+1) {background: #f9bd05;}
.usersbutton:nth-child(2n+1){background-color:#fef4d5!important;color: #304a59;}
.usersbutton{display: flex;
	align-items: center;
	margin: 0!important;
	background-color: #dce0e3;
	color:#f9bd05;
	font-family: "HeroesLegend";
	padding: 6%!important;}
#titreusers{padding-top: 15%;
	padding-bottom: 10%;
	font-size: 1.5em;}
#newusers{
  padding: 0;
  width: 100%;
}


.progress.vertical {
  /*display: inline-block;*/
  width: 100%;
  height: 100%;
	margin-top: 20px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  position: absolute;
	/*top: 45%;
    right: -165px;
    z-index: 1000;*/
}

.progress.vertical2 {
  /*display: inline-block;*/
  width: 100%;
  height: 20px;
	margin-top: 20px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);

  position: fixed;
	right: 5px;
	/*top: 45%;
    right: -165px;
    z-index: 1000;*/
}

.progress.vertical3 {
  /*display: inline-block;*/
  width: 100%;
  height: 20px;
	/*margin-top: 20px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);*/

  position: fixed;
	bottom: 60px;
	margin: 0 ;
	/*top: 45%;
    right: -165px;
    z-index: 1000;*/
}
.indicateur {
	display: flex;
	justify-content: flex-end;
  width: 100%;
  height: 20px;
  font-family: "HeroesLegend";
  position: fixed;
	bottom: 80px;
	margin: 0 ;
}

#divbenjisue{
	width: 50%;
	height: 50%;
	display: inline-flex;
}
img[title="imgperso"]{
	width: 100%;
	height: 100%;
}

#restos {
	display: inline-flex;
	width: 100%;
	left: 15%;
}
.username{
	display: flex;
	align-items:center;
}


#logo{

	width: 70%;
	height: 70%;
	border-radius: 10%;
	margin-left: 17%;
}

.back-text, .default-title, .previous-title {
	font-size: 10px;
}

#testrepas{
	display: flex;
}
.boutoninfos{
	font-size: 2em;
}
.boutonhistoric{
	font-size: 2em;
}

#appetit{
	font-size: 1em;
}

#apport{
	font-family: HeroesLegend;
	width: 72%;
	height: 11vh;
	text-align:left;
	padding-left: 13%;
	padding-top: 20%;
	font-size: 0.5em;
}

#imgBubble {
	display: inline-flex;
	margin-bottom: 25%;
	width: 100% !important;
}

#bubble {
	width: 87%;
	height: 65vh;
	z-index: -1;
	position:fixed;
	top: 0%;
	margin-top: -15%;
}


img[title="img2"]{
	width: 60%;
	right: 15%;
	height: 55vh;
	padding: 0 !important;
	margin-bottom:  -80%;
}

#imgAppetit{
    width: 100%;
   transform: scaleX(-1);
    height:50vh;
    padding: 0;
    margin-bottom: -85%;
}

.tauxglucide{
	width: 30%;
	border-left: solid 2px black;
	display: flex;
	flex-direction: column;
}
.historiquerepeat{
	display: flex !important;
	flex-direction: row!important;
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
	left: 0 !important;
	font-family: 'HeroesLegend';
	background-color: #dce0e3!important;
	color:#f9bd05!important;
}
.nomresto{width: 100%;
	height: 50%;
	font-size: 0.9em;
	}
.dateetresto{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.glulent{
	height: 50%;
	border-bottom: black solid 3px;
	font-size: 0.4em!important;
}
.glurapide{font-size: 0.4em!important;}


.datehistorique{
	height: 50%;
	font-size: 0.7em;

}
.historiquerepeat:nth-child(2n+2){background-color:#fef4d5!important;color: #304a59!important;}

.homeButtonHidden{
	display: none !important;
}
